<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>nl</string>
		<string>pt-BR</string>
		<string>fr-CA</string>
		<string>tr</string>
		<string>es</string>
		<string>fr</string>
		<string>pt-PT</string>
		<string>it</string>
		<string>ja</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.clawdbonzo.SpendZero</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spendzero</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>checkmark.circle.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Mark No-Spend Day</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.clawdbonzo.SpendZero.markNoSpendDay</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>creditcard.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Log Spending</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.clawdbonzo.SpendZero.logSpending</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>hand.raised.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Resist an Impulse</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.clawdbonzo.SpendZero.logImpulse</string>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
